<h1>Teams#index</h1>
<p>Find me in app/views/teams/index.html.erb</p>
<br>
<br>
<p>This will be a list of the teams, along with Trainer name</p>
<p>and links</p>

<table>

	<% if @teams %>
		<% @teams.each do |team| %>
  			<tr>
    		<td><%= team.name %></td>
    		<!-- Trainer name -->
  			</tr>
		<% end %>
	<% end %>
</table>