<h1>C1#hello</h1>
<p>Find me in app/views/c1/hello.html.erb</p>
<p>hellooo</p>
<% name = "B"%>
<%= "Your name is #{name}"%>
<br>
<% num = 0 %>
<% 5.times do %>
<%= num %>
<br>
<% num +=1 %>
<% end %>
<a href="/c1/index">link</a>